<h2>Employee Full Details</h2>

<p><strong>Name:</strong> {{ selected_emp.employee_name }}</p>
<p><strong>ID:</strong> {{ selected_emp.employee_id }}</p>
<p><strong>Phone:</strong> {{ selected_emp.phone }}</p>
<p><strong>Address:</strong> {{ selected_emp.address }}</p>
<p><strong>Role:</strong> {{ selected_emp.job_role }}</p>
<p><strong>Department:</strong> {{ selected_emp.department }}</p>
<p><strong>Joining Date:</strong> {{ selected_emp.joining_date }}</p>
<p><strong>Experience:</strong> {{ selected_emp.experience }}</p>
<p><strong>Skills:</strong> {{ selected_emp.skills }}</p>

<br>
