<div class="profile-card">

    <div class="profile-header">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
        <h2>{{ emp.employee_name }}</h2>
    </div>

    <div class="profile-body">
        <p><b>Employee ID:</b> {{ emp.employee_id }}</p>
        <p><b>Department:</b> {{ emp.department }}</p>
        <p><b>Role:</b> {{ emp.job_role }}</p>
        <p><b>Phone:</b> {{ emp.phone }}</p>
        <p><b>Address:</b> {{ emp.address }}</p>
        <p><b>Experience:</b> {{ emp.experience }}</p>
        <p><b>Skills:</b> {{ emp.skills }}</p>
        <p><b>Joining Date:</b> {{ emp.joining_date }}</p>
    </div>

</div>
